:root{
    --color-1:#292526;
    --color-2:#a4aaad;
    --color-3:
    --color-4:

}
@font-face{
    font-family: "EncondeSands-regular";
    src: url("../storage/font/encodesans/EncodeSans-Regular.ttf")

}
@font-face{
    font-family: "EncodeSans-regular";
    src: url("../storage/font/encodesans/");
}