<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" href="../css/detail.css">
</head>
<body>
    <main class="main">
        <section class="main_section">
            <article class="article_product" >
                <div class="product_image">
                    <img src="../storage/img/img1.png">
                </div>
                <div class="product_menu">
                    <img src="../storage/img/back.svg">
                    <img src="../storage/img/heart.svg">
                </div>
            </section>
            <section>
                <div>
                    <h1>Modern light clothes</h1>
                    <div class="product__select">
                        <img src="../storage/img/minus.svg">
                        <span>1</span>
                        <img src="../storage/img/plus.svg">
                    </div>
                </div>
                <div class="detail__score">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <img src="../storage/img/star.svg">
                    <span>5.0</span>
                    <p><a href="#">(7932 review)</a></p>
                    
                    
                    <section class="main_section">
                        <article class="product__imformation">
                            <p>its simple and elegant shape makes it perfect for
                                those of you who like you who want minimaslist
                                chlotes<strong>read more...</strong>
                            </p>
                        </article>
                        <hr>
             </section> </section>
                <sectio class="main_section">
                    <article class="product__custom">
                        <div class="product__size"
                    </article>

                </section>
                <section></section>
                <section></section>
                </div>
            
        </article>
    </main>
    i
    